<header>
    <h1>TEST</h1>
    <a href="#">List your property</a>
</header>
<main>
    <section>
        {{> amenities_form }}
    </section>
    <section>
        {{> accommodations_result}}
    </section>
</main>