<header>
    <h1 class="header-title">TEST</h1>
    <span class="header-title-logo"></span>
    <a href="#" class="header-link">List your property</a>
</header>
<main>
    <section class="js-results-header results-header">
        <div class="result-type-tab">
            <div class="js-result-type-tab result-type-tab-item" data-type="1">Map</div>
            <div class="js-result-type-tab result-type-tab-item" data-type="2">Accommodations</div>
        </div>
        <div class="result-filter-bar">
            {{> amenities_buttons_filter}}
            <span class="js-offers-count offers-count-title"></span>
        </div>
    </section>
    <section class="js-scrollable filter-bar">
        {{> amenities_form }}
    </section>
    <section class="js-scrollable js-result-bar result-bar">
        {{> accommodations_result}}
    </section>
</main>