.mCS-accommodations-scroll-theme {
  &.mCSB_scrollTools {
    .mCSB_dragger {
      .mCSB_dragger_bar {
        width: 8px;
        background-color: #d9dcde;
      }
    }
    .mCSB_draggerRail{
      background-color: white;
    }
  }
}