@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '~reset-css/reset.less';
@import "mixins.less";

@main-color-1: #28373e;
@main-color-2: #57778e;

@max-width: 1920px;
@min-width: 750px;

@font-family: 'Open Sans', sans-serif;

html, body {
  height: 100%;
}


