<div>
{{#accommodations}}
    <div class="js-accommodation-item" style="background-image: url('{{gradient}}') , url('{{image}}');">
        <span>{{name}}</span>
        <span>&euro;{{price}}</span>
    </div>
{{/accommodations}}
</div>