@import '../../styles/main.less';

div[data-component=accommodations_list] {
  .accommodations {
    margin-top: 35px;
    .accommodation-item {
      display: inline-block;
      position: relative;
      width: 45.3%;
      background-size: cover;
      border-radius: 10px;
      .accommodation-item-element {
        display: inline-block;
        position: absolute;
        bottom: 5%;
        color: white;
      }
      .accommodation-item-title {
        width: 77%;
        left: 3%;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.39px;
      }
      .accommodation-item-price {
        >span {
          vertical-align: top;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 4.5px;
          margin-top: 2px;
          display: inline-block;
        }
        width: 17%;
        right: 3%;
        font-size: 24px;
        text-align: right;
        font-weight: 400;
      }
    }
    .accommodation-item:nth-of-type(odd) {
      margin: 0 1.55% 30px 3.1%;
    }
    .accommodation-item:nth-of-type(even) {
      margin: 0 2.1% 30px 1.55%;
    }
  }
}

@media (max-width: @desktop-point-right) {
  div[data-component=accommodations_list] {
    .accommodations {
      .accommodation-item {
        width: 93.7%;
      }
      .accommodation-item:nth-of-type(odd) {
        margin: 0 0 30px 3.1%;
      }
      .accommodation-item:nth-of-type(even) {
        margin: 0 0 30px 3.1%;
      }
    }
  }
}