@import '../../styles/main.less';

div[data-component=accommodations_list] {
  .accommodations {
    margin-top: 30px;
    .accommodation-item {
      display: inline-block;
      position: relative;
      width: 45.3%;
      background-size: cover;
      border-radius: 10px;
      .accommodation-item-element {
        display: inline-block;
        position: absolute;
        bottom: 5.5%;
        color: white;
      }
      .accommodation-item-title {
        width: 77%;
        left: 3%;
        font-size: 16px;
      }
      .accommodation-item-price {
        >span {
          vertical-align: super;
          font-size: 11px;
        }
        width: 17%;
        right: 3%;
        font-size: 24px;
        text-align: right;
      }
    }
    .accommodation-item:nth-of-type(odd) {
      margin: 0 1.55% 30px 3.1%;
    }
    .accommodation-item:nth-of-type(even) {
      margin: 0 2.1% 30px 1.55%;
    }
  }
}

@media (max-width: @tablet-point) {
  div[data-component=accommodations_list] {
    .accommodations {
      .accommodation-item {
        width: 93.7%;
        .accommodation-item {
          margin: 0 2.1% 30px 3.1%;
        }
      }
    }
  }
}