<section>
    <div class="js-global-collapse-button">
        <span></span>
        <span>Amenities</span>
    </div>
</section>
<section>
    {{> amenities_search_input }}
    {{> amenities_checks_filter }}
</section>
