@import '../../styles/main.less';

div[data-component=amenities_form] {
  >section {
    float: left;
    overflow: hidden;
  }
  .amenities-form-left-tab {
    >div {
      .amenities-collapse-label;
      margin-left: 15%;
    }
    width: 20%;
  }
  .amenities-form-right-tab {
    width: 78.5%;
    >div {
      width: 96.5%;
      margin-right: 3.5%;
    }
  }
}

@media (max-width: @tablet-point) {
  div[data-component=amenities_form] {
    .amenities-form-left-tab {
      width: 10%;
    }
    .amenities-form-right-tab {
      width: 88.5%;
    }
  }
}

@media (max-width: @tablet-point-left) {
  div[data-component=amenities_form] {
    .amenities-form-left-tab {
      >div {
        span:nth-of-type(2) {
          display: none;
        }
      }
    }
  }
}