<section class="amenities-form-left-tab">
    <div class="js-global-collapse-button">
        <span></span>
        <span>Amenities</span>
    </div>
</section>
<section class="amenities-form-right-tab">
    {{> amenities_search_input }}
    {{> amenities_checks_filter }}
</section>
